* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.component-question {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 20px;
}
.component-question__one {
  background-image: url("../../../../assets/img/mapa/seccion1.jpg");
}

.component-question__two {
  background-image: url("../../../../assets/img/mapa/seccion2.jpg");
}
.component-question__three {
  background-image: url("../../../../assets/img/mapa/seccion3.jpg");
}
.component-question__four {
  background-image: url("../../../../assets/img/mapa/seccion4.jpg");
}
.component-question__five {
  background-image: url("../../../../assets/img/mapa/seccion5.jpg");
}
.component-question__six {
  background-image: url("../../../../assets/img/mapa/seccion6.jpg");
}
.component-question__seven {
  background-image: url("../../../../assets/img/mapa/seccion7.jpg");
}
.component-question__eight {
  background-image: url("../../../../assets/img/mapa/seccion8.jpg");
}
.component-question__nine {
  background-image: url("../../../../assets/img/mapa/seccion9.jpg");
}
.component-question__ten {
  background-image: url("../../../../assets/img/mapa/seccion10.jpg");
}
.component-question__eleven {
  background-image: url("../../../../assets/img/mapa/seccion11.jpg");
}
.component-question__twelve {
  background-image: url("../../../../assets/img/mapa/seccion12.jpg");
}
.component-question__thirteen {
  background-image: url("../../../../assets/img/mapa/seccion13.jpg");
}
.component-question__fourteen {
  background-image: url("../../../../assets/img/mapa/seccion14.jpg");
}
.component-question__fifteen {
  background-image: url("../../../../assets/img/mapa/seccion15.jpg");
}
.component-question__sixteen {
  background-image: url("../../../../assets/img/mapa/seccion16.jpg");
}

.component-question__content {
  display: flex;
  align-items: center;
  height: 22vh;
}

.component-question__content img {
  height: 250px;
  width: 50%;
  object-fit: cover;
}

.component-question__content p {
  height: 190px;
  padding: 10px;
  text-align: justify;
  border-radius: 10px;
  font-size: 1.1rem;
}
.component-question__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
}

.component-question__button {
  height: 10vh;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 5px;
}

.one {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.two {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  color: white;
}

.three {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
}
.four {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}
.five {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.six {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  color: white;
}
.seven {
  background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
}
.eight {
  background-image: linear-gradient(
    90.5deg,
    rgba(255, 207, 139, 0.5) 1.1%,
    rgba(255, 207, 139, 1) 81.3%
  );
}
.nine {
  background-image: linear-gradient(
    129.1deg,
    rgba(243, 199, 83, 1) 26.8%,
    rgba(18, 235, 207, 1) 114.1%
  );
}
.ten {
  background-image: linear-gradient(
    109.6deg,
    rgba(24, 138, 141, 1) 11.2%,
    rgba(96, 221, 142, 1) 91.1%
  );
}
.eleven {
  background-image: linear-gradient(
    177.8deg,
    rgba(255, 128, 0, 1) 9.2%,
    rgba(232, 211, 59, 1) 86.8%
  );
}
.twelve {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(1, 150, 21, 1) 0%,
    rgba(198, 239, 146, 1) 90%
  );
}
.thirteen {
  background-image: linear-gradient(
    179deg,
    rgba(0, 0, 0, 1) 9.2%,
    rgba(127, 16, 16, 1) 103.9%
  );
  color: white;
}
.fourteen {
  background-image: linear-gradient(
    108.7deg,
    rgba(221, 22, 224, 1) 11%,
    rgba(111, 22, 190, 1) 88.2%
  );
  color: white;
}
.fifteen {
  background-image: linear-gradient(
    91deg,
    rgba(72, 154, 78, 1) 5.2%,
    rgba(251, 206, 70, 1) 95.9%
  );
}
.sixteen {
  background-image: linear-gradient(
    129.1deg,
    rgba(243, 199, 83, 1) 26.8%,
    rgba(18, 235, 207, 1) 114.1%
  );
}
