.container-secundario {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.container-hero {
  padding-top: 5vh;
  text-align: center;
}

.container-hero img {
  object-fit: contain;
  height: 60vh;
  width: 80%;
}

/*Info Heroe*/
.container-info {
  width: 95%;
  height: 30vh;
  margin: 0 auto;
  background-color: #fac24e;
  border-radius: 10px;
}

.container-info-one {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-around;
}

.info-child {
  display: flex;
  padding: 10px;
  margin-left: -20px;
}

.info-child img {
  z-index: 100;
  object-fit: contain;
  width: 100px;
  height: 50px;
}

.info-child p {
  background-color: black;
  color: white;
  padding: 20px;
  margin-left: -30px;
  border-radius: 10px;
}

.container-info-two {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: justify;
  height: 15vh;
}

.container-info-two p {
  font-size: 1rem;
  color: black;
}
.container-info-two a {
  color: aliceblue;
  font-size: 1.2rem;
}
.container-buttons {
  height: 5vh;
  display: flex;
  justify-content: space-around;
}

.container-buttons button {
  width: 30%;
  height: 30px;
}
